/* google fonts import code */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pathway+Gothic+One&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 65%;
    font-family: 'Pathway Gothic One', sans-serif;
}
body {
    color: #fff;
    background-color: rgb(0, 0, 0);
    background-image: url('../images/sw-bg.jpg');
}
/* home page styling */
.container{
    width: 100vw;
    height: 100vh;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
}
.flex-column-container{
    display: flex;
    flex-direction: column;
}
.flex-center-container{
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 4.5rem;
    color: #ffc300;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.btn{
    text-align: center;
    font-size: 2rem;
    color: #a7a7a7;
    background-color:rgba(0, 0, 0, 0.74);
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    text-decoration: none;
    padding: 2rem 0;
    width: 25rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
}
.btn:hover{
    box-shadow: 0 0.3rem 1.2rem 0 rgb(67, 46, 255);
    transition: transform 200ms;
    transform: scale(1.02);
}
.highscores-btn:hover{
    box-shadow: 0 0.3rem 1.2rem 0 rgb(255, 46, 46);
}
.fa-trophy{
    font-size: 1.7rem;
}
/* quiz page styling */
#quiz-page{
    color: #fff;
}
.home-restart-btns{
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 2rem;
}
.home-restart{
    color: #ffc300;
    font-size: 4rem;
    padding: 1.2rem;
    text-decoration: none;
}
/* hud styling */
#hud{
    display: flex;
    justify-content: space-between;
}
.hud-prefix{
    text-align: center;
    font-size: 2rem;
}
.hud-main-text{
    text-align: center;
}
#progressBar{
    border: .1rem solid #fff;
    width: 20rem;
    height: 5rem;
    border-radius: 50px;
    margin-top: 5rem;
    overflow: hidden;
}
#progressBarFull{
    height: 100%;
    background: linear-gradient(180deg, hsla(195, 100%, 50%, 0.6) 0%, hsla(174, 76%, 79%, 0) 50%, hsla(195, 100%, 50%, 0.6) 100%);
}
.justify-center{
    justify-content: center;
}
h1, #question{
    font-size: 3.5rem;
    margin-top: 2rem;
}
/* Answers styling */
.choice-container{
    display: flex;
    font-size: 2rem;
    color: #a7a7a7;
    background-color:rgba(0, 0, 0, 0.74);
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    text-decoration: none;
    width: 100%;
    min-width: 80rem;
    margin-bottom: 1rem;
    cursor: pointer;
    text-transform: uppercase;
}
.choice-container:hover{
    box-shadow: 0 0.3rem 1.2rem 0 rgb(67, 46, 255);
    transition: transform 200ms;
    transform: scale(1.02);
}
.choice-prefix{
    font-size: 1.7rem;
    padding: 2rem 2.5rem;
}
.choice-text{
    font-size: 2rem;
    padding: 2rem;
    width: 100%;
}
/* correct and incorrect button answer styling */
.correct{
    background: linear-gradient(180deg, hsla(121, 100%, 50%, 0.6) 0%, hsla(174, 76%, 79%, 0) 50%, hsla(121, 100%, 50%, 0.6) 100%);
}
.incorrect{
    background: linear-gradient(180deg, hsla(0, 100%, 50%, 0.6) 0%, hsla(174, 76%, 79%, 0) 50%, hsla(0, 100%, 50%, 0.6) 100%);
}
.hidden{
    display: none;
}
/* highscores page styling */
#highScore{
    color: #fff;
}
#highScoreList {
    list-style: none;
    margin-bottom: 4rem;
}
.high-score {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
/* End Game Page Styling */
.end-form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}
.final-score-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 6.5rem;
    color: #ffc300;
}
input {
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    width: 20rem;
    padding: 1rem;
    font-size: 1.3rem;
    border: none;
}
#end-text{
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 2.1rem;
}
#username{
    padding-left: 0.5rem;
}
.fas, .fa-home{
    font-size: 1.7rem;
}
.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}
/* media query for responsivness */
@media screen and (max-width: 450px) {
    .choice-container {
        min-width: 30rem;
    }
    h1#question {
        font-size: 2.3rem;
    }
}